<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
        <p>
            Status da Bateria: {{s}}
        </p>
    </ion-row>
    <ion-row>
      <p>
          {{p}}
      </p>
    </ion-row>
    <ion-row text-center>
        <img *ngIf="s == '100'" src="assets/imgs/full.png" style="width: 100px; height: 200px;"/>
        <img *ngIf="s < '100' && s >= '30'" src="assets/imgs/high.png" style="width: 100px; height: 200px;"/>
        <img *ngIf="s <  '30' && s >= '15' " src="assets/imgs/medium.png" style="width: 100px; height: 200px;"/>
        <img *ngIf="s < '15'" src="assets/imgs/low.png" style="width: 100px; height: 200px;"/>
    </ion-row>
    <ion-row>
      <p>
        <button ion-button color="primary" (click)="save()">Registrar Status da Bateria</button>
       </p>
    </ion-row>
  </ion-grid>
</ion-content>
